<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
				<li><a href="/publications">Publications</a></li>
				<!-- <li><a href="/workflow">Workflow</a></li> -->
	        		<li><a href="/Reschechtko_CV.pdf" target = "_blank">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://scholar.google.com/citations?user=oxyl3i8AAAAJ&hl=en">Google Scholar</a></li>
	        		<li><a href="https://github.com/sreschechtko">GitHub</a></li>
				<li><a href="https://www.researchgate.net/profile/Sasha_Reschechtko">ResearchGate</a></li>
				<li><a href="https://twitter.com/res_chetko">Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
